<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render "_head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render_existing @view_module, "style.html", assigns %>
  </head>

  <body>
    <%= render "_main_nav.html", conn: @conn %>

    <main class="container">
      <%= show_flash(@conn) %>

      <!-- Main Section-->
      <%= render @view_module, @view_template, assigns %>
    </main>

    <!-- Footer -->
    <footer class="ui inverted vertical footer segment">
      <div class="ui container">
        I'm the footer
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- Inline scripting -->
    <%= render_existing @view_module, "script.html", assigns %>
  </body>
</html>
